@charset "UTF-8";
@charset "UTF-8";
@font-face{
    font-family: Krub;

    src: url("../fontes/Krub-Regular.ttf");
}
@font-face{
    font-family: OpenSans;

    src: url("../fontes/OpenSans-Regular.ttf");
}

nav{
    padding: 0 30px;
    margin: 0;
    background-color: #fff;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    font-family: OpenSans;
    box-sizing: border-box; 
    overflow: hidden;
    z-index: 10;
}


.logotipo{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    box-sizing: border-box;
}
.text-logo{
    text-decoration: none;
    color: #246CE0;
    font-weight: bold;
}
.logo{
    max-width: 100%;
    max-height: 8vh;
    height: auto; 
    object-fit: contain;
}

.menu-list{
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.menu-list a{
    text-decoration: none;
    color: #353535;
    font-weight: bold;
    transition: 0.3s;
}
.menu-list a:hover{
    color: #246CE0;
}
.nav-list{
    display: flex;
    list-style: none;
    gap: 16px;
    justify-content: flex-end;
}
.nav-list li{
    margin-left: 32px;
}
.entrar{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: 0.3s;
}
.entrar:hover{
    color: #246CE0;
}
.cadastro{
    text-decoration: none;
    color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: #246CE0;
    font-weight: bold;
}

body{
    padding: 0;
    margin: 0;
    font-family: OpenSans;
}


.section-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    padding-top: 59.07px;
    
}

.aside-direito{
    width: 425px;
    border-left: 1px solid #e4e4e4;
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside-esquerdo{
    width: 425px;
    height: 100vh;
    background-color: #fff;
}

.container-temas ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.container-temas a{
    text-decoration: none;
    color:#353535;
    padding: 5px 5px;
    border: 1px solid #353535;
    border-radius: 20px;
    transition: 0.5s;
}

.container-temas a:hover{
    background-color: #246CE0;
    color:#fff;
    transition: 0.5s;
    border: 1px solid #246CE0;
}

.container-busca{
    background-color: #fff;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buscar-form{
    display: flex;
}

.buscar-form input{
    padding: 10px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #999;
}

.buscar-form input::placeholder{
    font-size: 15px;
    font-style: italic;
}

.botao-buscar{
    background-color: #246CE0;
    border-radius: 0px 10px 10px 0px;
}

.resultado{
    background-color: #fff;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.userinfo-box h3, .userinfo-box h4{
    margin: 0;
    font-size: 15px;
    padding-left: 15px;
}

.userinfo-box a{
    text-decoration: none;
    color: #000;
}

.userinfo-box h4{
    color: #246CE0;
}

.foto-user img{
    max-width: 70px;
    max-height: 70px;
    border-radius: 100%;
}

button{
    background: none;
    border: none;
    cursor: pointer;
}

hr{
    margin: 0;
    background-color: #e4e4e4;
    border: none;
    height: 1px;
}

footer {
    width: 100%;
    color: #fff;
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: #246CE0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#linkedin {
    background-color: #002265;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #7f37c9;
}

#footer_contato {
    display: flex;
    flex-direction: column;
}

#footer_contato p {
    color: var(--color-neutral-30);
}

#footer_contato h3{
    margin-top: 2.2rem;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}

.assinatura {
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    max-width: 290px;
}

.assinatura h2, .assinatura h1 {
    margin: 0.5rem 0;
    color: #333;
}

.input-newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 0;
}

#email {
    height: 2rem;
    width: 100%;
    max-width: 300px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Krub, sans-serif;
}

#email::placeholder{
    font-family: Krub, sans-serif;
    font-size: 1rem;
    color: #333;;
}

.button_send {
    color: #ffffff;
    background-color: #246ce0;
    text-decoration: none;
    height: 2.5rem;
    padding: 0 2rem;
    font-family: Krub, sans-serif;
    font-weight: bold;
    margin: 1rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button_send:hover {
    background-color: #2b7cff;
}